* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.page-item {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}